{
  "extends": [
    "@antfu/eslint-config-basic",
    "plugin:vue/recommended"
  ],
  "rules": {
    "vue/multi-word-component-names": "off",
    "import/named": "off",
    "antfu/top-level-function": "off",
    "no-invalid-this": "off",
    "vue/no-multiple-template-root": "off"
  }
  
}
