@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #2f408a
    ),
    'success': (
      'base': #2ba471
    ),
    'danger': (
      'base': #fa2256
    )
  ),
  $text-color: (
    'primary': #2f408a,
    // 'regular': #304066,
    'secondary': #9da5c8
  ),
  $menu: (
    ('item-height': 50px)
  ),
  $bg-color: (
    'page': #f5f7fc
  ),
  $border-color: (
    '': #d9dfed
  ),
  $box-shadow: (
    'light': 0px 0px 20px rgba(15, 51, 122, 0.12),
    'lighter': 0px 0px 6px rgba(15, 51, 122, 0.12)
  )
);
